<head>
<!--    <link rel="stylesheet" type="text/css" href="automed_test.css">-->
    <link rel="stylesheet" type="text/css" href="\static\styles\automed_test.css">
</head>

<div class="login">
    <h1>Enter Your Prescription Medication</h1>
    <form action="/handle_data" method="post">
        <input type="text" name="drug" placeholder="Your Prescription Drug" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Submit</button>
    </form>
</div>

