<!DOCTYPE html>
<html>
	<head>
		<title>AutoMed: Prescription Medication Saver</title>
	</head>

	<style type="text/css"> 
		@import url(https://fonts.googleapis.com/css?family=Open+Sans);
		table {
				box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
				padding: 30px 20px;
			}
		th: tr{ color: #4A9AEC; } 
		tr: nth-of-type(2n){ 
    		border: 1px solid #F0F0F0;
    		background-color: #ffffff;
    		} 
    	td{
	    		padding: 10px 10px;
	    		border: 1px solid #F0F0F0;
	    		border-radius: 10px;
	    		} 
	
	    	body {
	    		font-family: 'Open Sans', sans-serif;
	    		background-color: #F7FCFF;
	    	}
	
	    </style>

	<Body> 
		{%if result|length > 0%}
			{%for i in range(result|length)%}
				{%if result[i].num > 1%}
					<h1><center><strong>{{result[i].name}}: top {{result[i].num}} alternatives</strong></center></h1>
				{%else%}
					<h1><center><strong>{{result[i].name}}: top alternative</strong></center></h1>
				{%endif%}
				<center><table style="margin-left: 20px;"> 
				    <th> 
				        <tr style="color: #4A9AEC;">     
				        <td>Rank</td> 
				        <td>Alternate</td> 
				        <td>Price</td>
				        </tr> 
				    </th> 

				    {% for alt in range(result[i].num) %}
				  		<tr> 
				        	<td>{{alt+1}}</td> 
				        	<td>{{result[i].s[alt]}}</td> 
				        	<td>${{result[i].p[alt]}}</td> 
				    	</tr> 
				    {%endfor%} 
				</table></center> 
			{%endfor%}
		{%endif%}

		{%if no|length > 0%}

			{%for i in range(0,no|length)%}
				<h1><center><strong>{{ no[i] }}: No alternative found</strong></center></h1>
			{%endfor%}
		{%endif%}

		<br/><br/>

		{%if warnings|length > 0%}
			<hr>
			<h1 style="color:#E35646"><center><strong>Interaction warnings:</strong></center></h1>
			{%for i in range(0,warnings|length)%}
				<p><center>{{i+1}}. {{ warnings[i][1] }} + {{ warnings[i][2] }} : {{ warnings[i][0] }}</center></p>
			{%endfor%}
		{%endif%}
	</Body>
</html>